<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<title>{% block title %} My site {% endblock%}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
<div class="header">
  {% block header %}
  <h1>ДОБРО ПОЖАЛОВАТЬ</h1>
  <p></p>
  {% endblock %}

  <div class="main">
    {% block main %}
    {% endblock %}
  </div>
</div>
<div class="footer">
    {% block footer %}
  <h2>Footer</h2>
  {% endblock %}
</div>
</body>
</html>